/* Typography Styles */

html {
  font-size: 16px; /* Default base font size for scalability */
}

body {
  font-family: "Nunito Sans", Arial, sans-serif; /* Modern, clean font */
  line-height: 1.6;
  color: var(--text-color);
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", Arial, sans-serif;
  margin: 0 0 1rem 0;
  font-weight: bold;
  color: var(--text-color);
}

h1 {
  font-size: var(--font-size-heading);
}

h2 {
  font-size: calc(var(--font-size-heading) - 4px);
}

h3 {
  font-size: calc(var(--font-size-heading) - 6px);
}

p {
  font-size: var(--font-size-base);
  margin-bottom: 1rem;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

blockquote {
  font-size: var(--font-size-medium);
  font-style: italic;
  padding: 10px 20px;
  border-left: 4px solid var(--primary-color);
  background-color: var(--background-alt-color);
}
