@import "tailwindcss";

@custom-variant dark (&: where(.dark, .dark *));

:root {
  --background: oklch(0.9717 0.0085 225.0806);
  --foreground: oklch(0.1408 0.0044 285.8229);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1408 0.0044 285.8229);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1408 0.0044 285.8229);
  --primary: oklch(0.7479 0.2491 142.1746);
  --primary-foreground: oklch(0.242 0.0765 141.8133);
  --secondary: oklch(0.954 0.0092 232.3661);
  --secondary-foreground: oklch(0.1408 0.0044 285.8229);
  --muted: oklch(0.954 0.0092 232.3661);
  --muted-foreground: oklch(0.5544 0.0407 257.4166);
  --accent: oklch(0.9624 0.0434 156.7426);
  --accent-foreground: oklch(0.4479 0.1083 151.3277);
  --destructive: oklch(0.5915 0.202 21.2388);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8978 0.0195 230.7184);
  --input: oklch(0.9335 0.0111 243.6584);
  --ring: oklch(0.7479 0.2491 142.1746);
  --chart-1: oklch(0.7479 0.2491 142.1746);
  --chart-2: oklch(0.6552 0.1105 212.1665);
  --chart-3: oklch(0.8442 0.1722 84.9338);
  --chart-4: oklch(0.5915 0.202 21.2388);
  --chart-5: oklch(0.5015 0.1883 294.9882);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.1408 0.0044 285.8229);
  --sidebar-primary: oklch(0.7479 0.2491 142.1746);
  --sidebar-primary-foreground: oklch(0.242 0.0765 141.8133);
  --sidebar-accent: oklch(0.9706 0.0263 155.9808);
  --sidebar-accent-foreground: oklch(0.5965 0.1977 142.1945);
  --sidebar-border: oklch(0.8978 0.0195 230.7184);
  --sidebar-ring: oklch(0.7479 0.2491 142.1746);
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.03);
  --shadow-sm:
    0px 4px 8px -2px hsl(0 0% 0% / 0.05), 0px 1px 2px -3px hsl(0 0% 0% / 0.05);
  --shadow:
    0px 4px 8px -2px hsl(0 0% 0% / 0.05), 0px 1px 2px -3px hsl(0 0% 0% / 0.05);
  --shadow-md:
    0px 4px 8px -2px hsl(0 0% 0% / 0.05), 0px 2px 4px -3px hsl(0 0% 0% / 0.05);
  --shadow-lg:
    0px 4px 8px -2px hsl(0 0% 0% / 0.05), 0px 4px 6px -3px hsl(0 0% 0% / 0.05);
  --shadow-xl:
    0px 4px 8px -2px hsl(0 0% 0% / 0.05), 0px 8px 10px -3px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1823 0.0189 245.4958);
  --foreground: oklch(0.8618 0.0194 248.0533);
  --card: oklch(0.2129 0.0207 245.8007);
  --card-foreground: oklch(0.9218 0.0094 242.8447);
  --popover: oklch(0.2129 0.0207 245.8007);
  --popover-foreground: oklch(0.9218 0.0094 242.8447);
  --primary: oklch(0.7479 0.2491 142.1746);
  --primary-foreground: oklch(0.242 0.0765 141.8133);
  --secondary: oklch(0.2693 0.0281 242.7024);
  --secondary-foreground: oklch(0.9218 0.0094 242.8447);
  --muted: oklch(0.2693 0.0281 242.7024);
  --muted-foreground: oklch(0.6621 0.032 248.3093);
  --accent: oklch(0.3925 0.0896 152.5353);
  --accent-foreground: oklch(0.9624 0.0434 156.7426);
  --destructive: oklch(0.5915 0.202 21.2388);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3576 0.0398 243.6248);
  --input: oklch(0.3576 0.0398 243.6248);
  --ring: oklch(0.7479 0.2491 142.1746);
  --chart-1: oklch(0.7479 0.2491 142.1746);
  --chart-2: oklch(0.6552 0.1105 212.1665);
  --chart-3: oklch(0.8442 0.1722 84.9338);
  --chart-4: oklch(0.5915 0.202 21.2388);
  --chart-5: oklch(0.5015 0.1883 294.9882);
  --sidebar: oklch(0.2129 0.0207 245.8007);
  --sidebar-foreground: oklch(0.8618 0.0194 248.0533);
  --sidebar-primary: oklch(0.7479 0.2491 142.1746);
  --sidebar-primary-foreground: oklch(0.242 0.0765 141.8133);
  --sidebar-accent: oklch(0.7479 0.2491 142.1746);
  --sidebar-accent-foreground: oklch(0.242 0.0765 141.8133);
  --sidebar-border: oklch(0.3576 0.0398 243.6248);
  --sidebar-ring: oklch(0.7479 0.2491 142.1746);
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 2px 4px -3px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 4px 6px -3px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 8px 10px -3px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);

  --animate-spin: spin var(--tw-duration, 1s) var(--tw-ease, linear) infinite;

  --text-2xs: 0.625rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
    letter-spacing: var(--tracking-normal);
  }
}
