/* src/components/Forms/ReminderForm.module.css */

.reminderForm {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 0.5rem;
  background-color: #222;
  color: #fff;
  border: 1px solid #444;
  border-radius: 0.25rem;
}

.errorText {
  color: #f87171; /* red-400 */
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}
